{
  "env": {
    "browser": true,
    "node": true,
    "webextensions": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:jsdoc/recommended",
    "plugin:no-unsanitized/DOM"
  ],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "plugins": [
    "eslint-plugin-no-unsanitized",
    "jsdoc"
  ],
  "reportUnusedDisableDirectives": true,
  "rules": {
    "accessor-pairs": "error",
    "array-bracket-newline": [
      "error",
      {
        "multiline": true
      }
    ],
    "array-bracket-spacing": ["error", "never"],
    "array-callback-return": "error",
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": "warn",
    "block-scoped-var": "error",
    "block-spacing": "error",
    "brace-style": "error",
    "camelcase": "error",
    "class-methods-use-this": "error",
    "comma-dangle": ["error", "always-multiline"],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "comma-style": ["error", "last"],
    "complexity": ["error", 50],
    "computed-property-spacing": [2, "never"],
    "consistent-return": "error",
    "consistent-this": ["error", "that"],
    "curly": ["error", "multi-line"],
    "default-case": "error",
    "default-param-last": ["error"],
    "dot-location": ["error", "property"],
    "dot-notation": "error",
    "eol-last": "error",
    "eqeqeq": "error",
    "for-direction": "error",
    "func-names": ["error", "as-needed"],
    "func-name-matching": "error",
    "func-style": [
      "error",
      "declaration",
      {
        "allowArrowFunctions": true
      }
    ],
    "generator-star-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "guard-for-in": "error",
    "indent": [
      "error",
      2,
      {
        "CallExpression": {
          "arguments": "first"
        },
        "SwitchCase": 1,
        "FunctionDeclaration": {
          "parameters": "first"
        },
        "FunctionExpression": {
          "parameters": "first"
        },
        "MemberExpression": 1,
        "VariableDeclarator": {
          "var": 2,
          "let": 2,
          "const": 3
        }
      }
    ],
    "key-spacing": [
      "error",
      {
        "beforeColon": false,
        "afterColon": true,
        "mode": "minimum"
      }
    ],
    "keyword-spacing": "error",
    "linebreak-style": ["error", "unix"],
    "max-depth": ["warn", 6],
    "max-len": [
      "error",
      {
        "ignorePattern": "^.+/(?:[^\\s]| )+/.+$",
        "ignoreStrings": true,
        "ignoreRegExpLiterals": true,
        "ignoreTemplateLiterals": true,
      }
    ],
    "max-nested-callbacks": ["error", 3],
    "max-statements-per-line": [
      "error",
      {
        "max": 1
      }
    ],
    "multiline-ternary": "error",
    "new-cap": "error",
    "new-parens": "error",
    "no-alert": "off",
    "no-array-constructor": "error",
    "no-await-in-loop": "error",
    "no-buffer-constructor": "error",
    "no-caller": "error",
    "no-confusing-arrow": [
      "error",
      {
        "allowParens": true
      }
    ],
    "no-console": "off",
    "no-div-regex": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-imports": "error",
    "no-duplicate-case": "error",
    "no-else-return": "error",
    "no-empty": "error",
    "no-empty-character-class": "error",
    "no-empty-function": "error",
    "no-empty-pattern": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-extra-parens": "warn",
    "no-extra-semi": "error",
    "no-ex-assign": "error",
    "no-floating-decimal": "error",
    "no-func-assign": "error",
    "no-global-assign": "error",
    "no-implicit-coercion": "off",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-import-assign": "error",
    "no-inline-comments": "error",
    "no-inner-declarations": "error",
    "no-invalid-regexp": "error",
    "no-invalid-this": "error",
    "no-irregular-whitespace": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "error",
    "no-loop-func": "error",
    "no-magic-numbers": [
      "error",
      {
        "detectObjects": true,
        "enforceConst": true,
        "ignore": [-1, 0, 1],
        "ignoreArrayIndexes": true
      }
    ],
    "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
    "no-multi-spaces": [
      "error",
      {
        "exceptions": {
          "AssignmentExpression": true,
          "ArrayExpression": true,
          "ObjectExpression": true,
          "VariableDeclarator": true
        }
      }
    ],
    "no-multi-str": "error",
    "no-native-reassign": "error",
    "no-negated-condition": "error",
    "no-negated-in-lhs": "error",
    "no-nested-ternary": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-wrappers": "error",
    "no-obj-calls": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-param-reassign": "off",
    "no-proto": "error",
    "no-prototype-builtins": "off",
    "no-redeclare": "error",
    "no-return-assign": "error",
    "no-return-await": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow": "error",
    "no-shadow-restricted-names": "error",
    "no-spaced-func": "error",
    "no-template-curly-in-string": "error",
    "no-throw-literal": "error",
    "no-trailing-spaces": "error",
    "no-undef": "error",
    "no-unexpected-multiline": "error",
    "no-unmodified-loop-condition": "error",
    "no-unneeded-ternary": [
      "error",
      {
        "defaultAssignment": false
      }
    ],
    "no-unreachable": "error",
    "no-unsafe-negation": "warn",
    "no-unused-expressions": "off",
    "no-unused-vars": "warn",
    "no-useless-call": "error",
    "no-useless-computed-key": "error",
    "no-useless-concat": "error",
    "no-useless-constructor": "error",
    "no-useless-return": "error",
    "no-use-before-define": ["error", "nofunc"],
    "no-var": "error",
    "no-void": "error",
    "no-warning-comments": "off",
    "no-with": "error",
    "object-curly-spacing": ["error", "never"],
    "object-shorthand": "error",
    "operator-assignment": "error",
    "operator-linebreak": ["error", "after"],
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-destructuring": [
      "error",
      {
        "array": true,
        "object": true
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "quotes": ["error", "double"],
    "quote-props": [
      "error",
      "as-needed",
      {
        "keywords": true
      }
    ],
    "radix": ["error", "as-needed"],
    "require-await": "off",
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": true,
      }
    }],
    "require-yield": "error",
    "semi": ["error", "always"],
    "semi-style": ["error", "last"],
    "space-before-blocks": "error",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "space-infix-ops": "error",
    "space-in-parens": ["error", "never"],
    "space-unary-ops": [
      "error",
      {
        "words": true,
        "nonwords": false
      }
    ],
    "strict": ["error", "global"],
    "switch-colon-spacing": [
      "error",
      {
        "after": true,
        "before": false
      }
    ],
    "template-curly-spacing": ["error", "never"],
    "use-isnan": "error",
    "vars-on-top": "error",
    "valid-jsdoc": [
      "error",
      {
        "matchDescription": ".+",
        "prefer": {
          "arg": "param",
          "argument": "param",
          "return": "returns"
        },
        "preferType": {
          "Boolean": "boolean",
          "Number": "number",
          "Object": "object",
          "String": "string"
        },
        "requireParamDescription": true,
        "requireReturn": false,
        "requireReturnDescription": true,
        "requireReturnType": true
      }
    ],
    "wrap-iife": ["error", "inside"],
    "yoda": [
      "error",
      "never",
      {
        "exceptRange": true
      }
    ]
  }
}
