{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "webextensions": true
  },
  "extends": [
    "plugin:jsdoc/recommended",
    "plugin:no-unsanitized/DOM",
    "plugin:regexp/recommended",
    "standard"
  ],
  "globals": {
    "ClipboardItem": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "eslint-plugin-import",
    "eslint-plugin-regexp",
    "unicorn"
  ],
  "reportUnusedDisableDirectives": true,
  "rules": {
    "import/order": ["error", {
      "alphabetize": {
        "order": "ignore",
        "caseInsensitive": false
      }
    }],
    "no-await-in-loop": "error",
    "no-use-before-define": ["error", {
      "allowNamedExports": false,
      "classes": true,
      "functions": true,
      "variables": true
    }],
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "asyncArrow": "always",
      "named": "never"
    }],
    "unicorn/prefer-node-protocol": "error"
  }
}
