@charset "UTF-8";

/**
 * options.css
 */

:root {
  --box-background-color: rgb(240 240 240);
  --box-border-color: rgb(192 192 192);
  --box-border-color-alpha: rgb(192 192 192 / 50%);
  --box-color: rgb(16 16 16);
  --icon-dark-background-color: var(--box-background-color);
  --icon-dark-color: var(--box-color);
  --icon-light-background-color: var(--box-color);
  --icon-light-color: var(--box-background-color);
  --info-background-color: #008ea4;
  --info-color: #fff;
  --page-background-color: rgb(250 250 250);
  --page-color: #000;
  --page-border-color: rgb(128 128 128);
  --warn-background-color: transparent;
  --warn-color: #d70022;
}

body {
  padding: 1rem 1rem 0;
  background-color: var(--page-background-color);
  color: var(--page-color);
  line-height: 1.5;
}

main {
  margin: 1rem 0;
}

footer {
  margin: 1rem 0 2rem;
  border-top: 1px solid var(--page-border-color);
}

section {
  margin: 1.5rem 0;
}

section + section {
  border-top: 1px dotted var(--page-border-color);
}

section section + section {
  border-top: none;
}

main > section + p {
  margin-top: 1rem;
  border-top: 1px dotted var(--page-border-color);
  padding-top: 1rem;
}

h1 {
  margin: 1rem 0;
  font-size: 1.2rem;
}

header > h1 {
  margin-top: 0;
}

header > h1::before {
  display: inline-block;
  margin-right: 0.5rem;
  width: 1.44em;
  height: 1.44em;
  background-image: url("../img/icon.svg");
  background-size: 1.44em 1.44em;
  content: "";
  vertical-align: top;
}

form {
  margin: 0 0 2rem;
}

fieldset {
  margin-top: 1rem;
  border: 1px solid var(--page-border-color);
  border-radius: 8px;
}

legend {
  margin: 1rem 0.5rem;
  font-weight: bold;
}

fieldset > div {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  vertical-align: middle;
}

fieldset > div > p {
  flex: 1 1 calc(100% / 13 * 8);
  margin: 0.5rem 0;
  min-width: 15rem;
}

details {
  position: relative;
  flex: 1 1 calc(100% / 13 * 5);
  margin: 0.5rem 0;
  font-size: smaller;
}

details > div {
  position: absolute;
  left: 0.9rem;
  border: 1px solid var(--box-border-color);
  border-radius: 4px;
  background-color: var(--box-background-color);
  color: var(--box-color);
  z-index: 2;
}

fieldset:last-child > div:last-child > details > div {
  bottom: 1.5rem;
}

details > div > p {
  margin: 0.5rem;
}

label[for^="buttonIcon"] {
  display: inline-block;
  position: relative;
  margin-right: 1.2rem;
  border: 1px solid var(--box-border-color-alpha);
  border-radius: 4px;
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--box-background-color);
  text-align: center;
  vertical-align: middle;
}

label[for="buttonIconBlack"],
label[for="buttonIconDark"] {
  background-color: var(--icon-dark-background-color);
  color: var(--icon-dark-color);
}

label[for="buttonIconLight"],
label[for="buttonIconWhite"] {
  background-color: var(--icon-light-background-color);
  color: var(--icon-light-color);
}

label[for="buttonIconAuto"] {
  border: none;
  background-color: transparent;
  height: auto;
  vertical-align: baseline;
}

.label {
  box-sizing: border-box;
  display: inline-block;
  padding-left: 0.2rem;
  min-width: 15rem;
}

.sub-item {
  display: block;
  margin-left: 1.5rem;
}

.sub-item > .label {
  min-width: 13.5rem;
}

label + input[type="radio"] {
  margin-left: 0.5rem;
}

input[type="text"] {
  min-width: 15rem;
  max-width: calc(100% - 1rem);
}

textarea {
  min-width: 15rem;
  max-width: calc(100% - 1rem);
  vertical-align: top;
}

.status {
  max-width: calc(100% - 1rem);
}

.info {
  border-radius: 4px;
  padding: 0.2em 0.5em;
  background-color: var(--info-background-color);
  color: var(--info-color);
}

.warn {
  background-color: var(--warn-background-color);
  color: var(--warn-color);
}

input[type="submit"],
button {
  font-size: 0.9rem;
}

img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 1.728rem;
  height: 1.728rem;
}

figure {
  margin: 1rem;
}

pre {
  border: 1px solid var(--page-border-color);
  border-radius: 8px;
  overflow-x: auto;
}

code {
  display: inline-block;
}

pre > code {
  margin: 0 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --box-background-color: rgb(35 34 43);
    --box-border-color: rgb(64 64 64);
    --box-border-color-alpha: rgb(64 64 64 / 50%);
    --box-color: rgb(240 240 240);
    --icon-dark-background-color: var(--box-color);
    --icon-dark-color: var(--box-background-color);
    --icon-light-background-color: var(--box-background-color);
    --icon-light-color: var(--box-color);
    --info-background-color: #008ea4;
    --info-color: #fff;
    --page-background-color: rgb(28 27 34);
    --page-color: rgb(251 251 254);
    --page-border-color: rgb(128 128 128);
    --warn-background-color: transparent;
    --warn-color: #ff4f5e;
  }

  header > h1::before {
    background-image: url("../img/icon.svg#light");
  }
}
