@charset "UTF-8";
/**
 * options.css
 */

body {
  padding: 1rem 1rem 0;
  background-color: rgb(250, 250, 250);
  color: black;
  line-height: 1.5;
}
main {
  margin: 1rem 0;
}
footer {
  margin: 1rem 0 2rem;
  border-top: 1px solid rgb(128, 128, 128);
}
section {
  margin: 1.5rem 0;
}
section + section {
  border-top: 1px dotted rgb(128, 128, 128);
}
section section + section {
  border-top: none;
}
main > section + p {
  margin-top: 1rem;
  border-top: 1px dotted rgb(128, 128, 128);
  padding-top: 1rem;
}
h1 {
  margin: 1rem 0;
  font-size: 1.2rem;
}
header > h1 {
  margin-top: 0;
}
header > h1::before {
  display: inline-block;
  margin-right: 0.5rem;
  width: 1.44em;
  height: 1.44em;
  background-image: url(../img/icon.svg);
  background-size: 1.44em 1.44em;
  content: "";
  vertical-align: top;
}
form {
  margin: 0 0 2rem 0;
}
fieldset {
  margin-top: 1rem;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 8px;
}
legend {
  margin: 1rem 0.5rem;
  font-weight: bold;
}
fieldset > div {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  vertical-align: middle;
}
fieldset > div > p {
  flex: 1 1 50%;
  margin: 0.5rem 0;
  min-width: 15rem;
  max-width: calc(100% / 3 * 2);
}
details {
  position: relative;
  flex: 1 1 calc(100% / 3);
  margin: 0.5rem 0;
  font-size: smaller;
}
details > div {
  position: absolute;
  left: 0.9rem;
  border: 1px solid rgb(192,192,192);
  border-radius: 4px;
  background-color: rgb(240,240,240);
  color: rgb(16,16,16);
  z-index: 2;
}
fieldset:last-child > div:last-child > details > div {
  bottom: 1.5rem;
}
details > div > p {
  margin: 0.5rem;
}
label[for^=buttonIcon] {
  display: inline-block;
  position: relative;
  margin-right: 2.4rem;
  border: 1px solid rgba(192,192,192,0.5);
  border-radius: 4px;
  width: 2.4rem;
  height: 2.4rem;
  text-align: center;
  vertical-align: middle;
}
label[for=buttonIcon],
label[for=buttonIconGray] {
  background-color: rgb(240,240,240);
}
label[for=buttonIconWhite] {
  background-color: rgb(64,64,64);
}
.label {
  box-sizing: border-box;
  display: inline-block;
  padding-left: 0.2rem;
  min-width: 15rem;
}
label + input[type=radio] {
  margin-left: 1rem;
}
input[type=text] {
  min-width: 15rem;
  max-width: calc(100% - 1rem);
}
input[type=submit], button {
  font-size: 0.9rem;
}
img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 1.728rem;
  height: 1.728rem;
}
figure {
  margin: 1rem;
}
pre {
  border: 1px solid rgb(128, 128, 128);
  border-radius: 8px;
  overflow-x: auto;
}
code {
  display: inline-block;
}
pre > code {
  margin: 0 1rem;
}
