@charset "UTF-8";
/**
 * popup.css
 */
body {
  margin: 0;
  border: none;
  padding: 0.5rem;
  min-width: 17rem;
  background-color: #FFF;
  color: #000;
}
main {
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 0;
}
h1 {
  margin: 0 0.5rem;
  border: none;
  padding: 0.25rem 0;
  font-size: 1em;
}
ul {
  display: block;
  margin: 0;
  padding: 0 0.25rem;
  list-style: none;
}
li {
  display: block;
  margin: 0;
  border: none;
  padding: 0;
}
button {
  all: unset;
  appearance: none;
  display: block;
  margin: 0;
  border: 1px solid transparent;
  padding: 0;
  line-height: 1.5;
  text-indent: 1rem;
  width: 100%;
}
button:hover,
button:focus {
  border: 1px solid #CCC;
  background-color: #EAEAEA;
}
button:active,
button:focus:active {
  border: 1px solid #CCC;
  background-color: #D7D7D8;
}
.tabMenu {
  all: unset;
  display: flex;
}
.tabMenu > li {
  all: unset;
  flex: 1 1 auto;
  margin: 0;
}
.tabMenu > li > label {
  all: unset;
  display: block;
  padding: 0.25rem 0.5rem;
  border: 1px solid #C0C0C0;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  color: GrayText;
  background: InactiveCaption;
  font-size: 0.9em;
}
.tabControl {
  position: absolute;
  left: -999px;
}
.tabContent {
  display: none;
  border: 1px solid #C0C0C0;
  border-radius: 0 0 4px 4px;
  padding: 0 0 0.25rem;
}
#copyPageTab:checked ~ .tabMenu > li > label[for="copyPageTab"],
#copyLinkTab:checked ~ .tabMenu > li > label[for="copyLinkTab"] {
  color: CaptionText;
  background: ActiveCaption;
}
.tabMenu > li > label:hover,
#copyPageTab:focus ~ .tabMenu > li > label[for="copyPageTab"],
#copyLinkTab:focus ~ .tabMenu > li > label[for="copyLinkTab"],
#copyPageTab:checked ~ .tabMenu > li > label[for="copyPageTab"]:hover,
#copyLinkTab:checked ~ .tabMenu > li > label[for="copyLinkTab"]:hover {
  color: HighlightText;
  background: Highlight;
}
#copyPageTab:checked ~ #copyPageContent,
#copyLinkTab:checked ~ #copyLinkContent {
  display: block;
}
